  <div class="jumbotron">
    <div class="container text-center mt-5">
      <h1 class="display-4">Ciao <strong><%= info.display_name %>!</strong></h1>
      <p class="lead text-success">Ora puoi vedere le statistiche sulla musica che ascolti.</p>
    </div>
  </div>
  <hr class="my-4">
  <div class="d-grid gap-2 mx-auto" style="width: 200px;">
    <a role="button" class="btn btn-outline-success" href="/top">Tracks</a>
    <a role="button" class="btn btn-outline-success" href="/topartists">Artists</a>
    <a role="button" class="btn btn-outline-success" href="/topalbums">Albums</a>
  </div>
  

